{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Weather Station Web Application</title>
    <link rel="shortcut icon" href="{% static 'djangoLanding/favicon.ico' %}">
    <!-- The CSS files will be automatically injected here after build -->
    <link rel="stylesheet" href="{% static 'djangoLanding/css/main.b579eb69.css' %}">
</head>
<body>
    <div id="root"></div>
    <!-- The JS files will be automatically injected here after build -->
    <script src="{% static 'djangoLanding/js/main.46665312.js' %}"></script>
</body>
</html>