{% extends 'authenticate/base.html' %}

{% block jquery %}
<script>
    
$(document).ready(function () 
{
var $myChart = $("#myChart");
var endpoint = $myChart.data("url");
//data variables from database
var humidity ={{humidity|safe}};
var temperature ={{temperature|safe}};
var windDirection ={{windDirection|safe}};
var windSpeed ={{windSpeed|safe}};
var rainfall ={{rainfall|safe}};
var soilmoisture ={{soilmoisture|safe}};
var soiltemperature ={{soiltemperature|safe}};
var lightintensity ={{lightintensity|safe}};
var solarradiance ={{solarradiance|safe}};
var barometricpressure ={{barometricpressure|safe}};
var bmealtitude ={{bmealtitude|safe}};
var locationLat ={{locationLat|safe}};
var locationLong ={{locationLong|safe}};
//var status ={{status|safe}};
var labels ={{labels|safe}};

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(){
        setChart() //class the function to draw the graphs 
    },
    error: function(){
        console.log("error");
    }
})

function setChart(){
    const humidityCtx = document.getElementById('myCharthumidity');
    const temperatureCtx = document.getElementById('myCharttemp');
    const windDirectionCtx = document.getElementById('myChartwindDirecSpeed');
    const windSpeedCtx = document.getElementById('myChartwindDirecSpeed');
    const rainfallCtx = document.getElementById('myChartrainfall');
    const soilmoistureCtx = document.getElementById('myChartsoilmoisture');
    const soiltemperatureCtx = document.getElementById('myChartsoiltemp');
    const lightintensityCtx = document.getElementById('myChartlightintensity');
    const solarradianceCtx = document.getElementById('myChartsolarradiance');
    const barometricpressureCtx = document.getElementById('myChartbarometricpa');
    const bmealtitudeCtx = document.getElementById('myChartbmealtitude');

    const myChartbmealtitude = new Chart(bmealtitudeCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'altitude (%)',
                data: bmealtitude,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const myChartbarometricpa = new Chart(barometricpressureCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Barometric Pressure (%)',
                data: barometricpressure,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const myChartsolarradiance = new Chart(solarradianceCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Solar Radiance (%)',
                data: solarradiance,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const myChartlightintensity = new Chart(lightintensityCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Light Intensity (%)',
                data: lightintensity,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const myChartsoiltemp = new Chart(soiltemperatureCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Soil Temperature (%)',
                data: soiltemperature,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const myChartsoilmoisture = new Chart(soilmoistureCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Soil Moisture (%)',
                data: soilmoisture,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const myChartrainfall = new Chart(rainfallCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Rainfall (mm)',
                data: rainfall,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const myChartwindDirecSpeed = new Chart(windSpeedCtx, {
        type: 'radar',
        data: {
            labels: ['NORTH', 'NORTH EAST', 'EAST', 'SOUTH EAST', 'SOUTH', 'SOUTH WEST', 'WEST', 'NORTH WEST'],
            datasets: [{
                label: ['WindSpeed (Knots)', 'Wind Direction (unit)'],
                data: windDirection,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const myCharthumidity = new Chart(humidityCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Humidity (%)',
                data: humidity,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const myCharttemp = new Chart(temperatureCtx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Temperature (C)',
                data: temperature,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
});

</script>
{% endblock jquery %}

{% block content %}
<div class='container'>
    <div class='row'>
        <h1>Environment Data</h1>
        <div class='col'>
            <canvas id="myCharthumidity" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
        <div class='col'>
            <canvas id="myCharttemp" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
    </div>

    <div class='row'>
        <h1>Wind Information</h1>
        <div class='col'>
            <canvas id="myChartwindDirecSpeed" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
    </div>

    <div class='row'>
        <h1>Soil Data</h1>
        <div class='col'>
            <canvas id="myChartrainfall" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
        <div class='col'>
            <canvas id="myChartsoilmoisture" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
        <div class='col'>
            <canvas id="myChartsoiltemp" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
    </div>

    <div class='row'>
        <h1>Sun Data</h1>
        <div class='col'>
            <canvas id="myChartlightintensity" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
        <div class='col'>
            <canvas id="myChartsolarradiance" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
    </div>

    <div class='row'>
        <h1>Natural Weather Data</h1>
        <div class='col'>
            <canvas id="myChartbarometricpa" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
        <div class='col'>
            <canvas id="myChartbmealtitude" data-url="{% url 'bar-graph' %}" width="400" height="400"></canvas>
        </div>
    </div>
</div>
{% endblock content %}