<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Set New Password - BlitzAgroTech</title>
</head>
<body>
    <h1>Set New Password</h1>
    <p>Please enter your new password below.</p>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="new_password">New Password:
            </br>
            <h5><i>(Must be at least 8 characters with uppercase, lowercase, a number and a special character)</i></h5> 
            <input id="new_password" name="new_password" type="password" pattern="[A-Za-z0-9@$!%*?&#^()-_+=]{8,}" placeholder="New Password" required /></label>
            
            <label for="confirm_password">Confirm Password:
            <input id="confirm_password" name="confirm_password" type="password" pattern="[A-Za-z0-9@$!%*?&#^()-_+=]{8,}" placeholder="Confirm Password" required /></label>
            <input type="checkbox" class="signin_inline" onclick="show_pass()"/>Show Password 
        </fieldset>
        <input type="submit" value="Reset Password" />
    </form>
    
    <script>
        function show_pass(){
            var pass1 = document.getElementById("new_password");
            var pass2 = document.getElementById("confirm_password");
            if(pass1.type === "password"){
                pass1.type = "text";
                pass2.type = "text";
            } else {
                pass1.type = "password";
                pass2.type = "password";
            }
        }
    </script>
</body>
</html>