{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>SignIn Page</title>
   
  </head>
  <body>

    <h1>SignIn</h1>
    <p>Welcome to the SignIn Page for The Smart Weather Station Web App</p>
    

	{% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
	

	<form action="" method="post">
	  {% csrf_token %}
      <fieldset>
          <label for="username">Username: <input id="username" name="username" type="text" placeholder="Username" required /></label>
          <label for="email">Email: <input id="email" name="email" type="email" placeholder="Email" required /></label>
          <label for="pass1">Enter Password: <input id="pass1" name="pass1" type="password" pattern="[A-Za-z0-9@$!%*?&#^()-_+=]{8,}" placeholder="Password" required /></label>
	
          <input type="checkbox" class="signin_inline" onclick="show_pass()"/>Show Password 
		  <br>
		  <br>
		  <br>
		  <a href="{% url 'forgot_password.html' %}" type="submit">Forgot Password?</a>
		  <br>
		  <br>
      </fieldset>
      <input type="submit" value="Signin" />
	  <br>
	  
	  <button id="signup"><a href="{% url 'signup' %}">SignUp</a></button>
    </form>
	<script>
		function show_pass(){
			var pass1 = document.getElementById("pass1");
			if(pass1.type == "pass1"){
				pass1.type = "text";
			}else{
				pass1.type = "password";
			}
		}

	</script>
  </body>
</html>





