{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - BlitzAgroTech{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumb">
        <a href="{% url 'user_menu' %}">Home</a>
        <span>Contact</span>
    </div>
</div>

<div class="fullwidth-block">
    <div class="container">
        <div class="col-md-5">
            <div class="contact-details">
                <div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div>
                <div class="contact-info">
                    <address>
                        <img src="{% static 'images/icon_marker.png' %}" alt="">
                        <p>BlitzAgroTech <br>
                            18 Sable St, Harare, Zimbabwe</p>
                    </address>
                    
                    <a href="#"><img src="{% static 'images/icon_phone.png' %}" alt="">+263 78 2794 721</a>
                    <a href="#"><img src="{% static 'images/icon_envelope.png' %}" alt="">blitzagrotech@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h2 class="section-title">Contact us</h2>
            <p>We are a weather forecasting and predicting company for African farmers to cope with climate change</p>
            <form action="#" class="contact-form">
                <div class="row">
                    <div class="col-md-6"><input type="text" placeholder="Your name..."></div>
                    <div class="col-md-6"><input type="text" placeholder="Email Addresss..."></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input type="text" placeholder="Company name..."></div>
                    <div class="col-md-6"><input type="text" placeholder="Website..."></div>
                </div>
                <textarea name="" placeholder="Message..."></textarea>
                <div class="text-right">
                    <input type="submit" placeholder="Send message">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
{% endblock %}